.bgnavycolor{
    background-color:  #2c3e50;
}
.textnavycolor{
    color:  rgb(44, 62, 80);
}
.starIcon {
  font-size: 40px;
  /* background-color: yellow; */
}
img{
    width: 400px;
    height: 300px;
}


