.bgnavycolorfooter{
    background-color:  #2c3e50;
}
.icons{
    color: white;
}
.icons:hover{
    background-color: white;
    color: #2c3e50;
}
.maincolor{
    color: #15967d;
}
.bgnavycolorsubfooter{
    background-color:  #061c31;
}