img{
    width: 300px;
    height: 300px;
}
hr{
    height: 5px;
    width: 200px;
    background-color: white;
}
.starIcon {
  font-size: 60px;
  /* background-color: yellow; */
}
.mainbgcolor{
    background-color: #15967d;
}